<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (allitems) { %>
        <h4><%= allcategories.name %></h4>
         <p> <strong>description:</strong> <%= allcategories.description %></p>
        <ul>
            <% allitems.forEach((item) => { %>
                <li><a href="<%= item.url %>"><%= item.name %></a></li>
            <% }); %>
        </ul>
          <a href="<%=allcategories.delete_url %>">Delete Category</a>
    <% } %>
</body>
</html>
