<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(item) { %>
        <h4><%= item.name %></h4>
         <p><strong>description:</strong> <%=item.description %></p>
         <p><strong>price = <%=item.price %></strong></p>
          <p><strong>Number in Stocks = <%=item.number_in_stocks %></strong></p>
           <a href="<%= item.delete_url %>"> Delete Item</a>
         <% }  %>

</body>
</html>